:root{
    /* Colors */
    --color-bg: #CFDBD5;
    --color-text: #242423;
    --color-primary: #E8EDDF;
    --color-secondary: #F5CB5C;
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-aureolin: #FEED3A;
    --color-warning: #F6B93B;
    --color-oxford-blue: #07172D;
    --color-info: #0dcaf0;
    --color-grey: #333533;
    --color-light: #f8f9fa;
    --color-dark: #212529; 

    /* Fonts */
    --font-family-sans: 'Outfit', sans-serif;
    --font-family-mono: 'Geist Mono', monospace;
    --font-family-serif: 'Roboto', serif;
    --font-family-code: 'JetBrains Mono', monospace;
    --font-family-ubuntu: 'Ubuntu', sans-serif;
    --font-family-ibm-plex: 'IBM Plex Mono', monospace;
    
}